*{
    margin:0;
    padding:0;
}

html{overflow: hidden;width:100%}

.tarjeta {
    width: 300px;
    padding: 20px; 
    border: 8px black;
    border-radius: 15px;
    margin: auto;
    background-color: #fffaef;;
    text-align: center;
    margin-top:100px;
    margin-bottom:100px;

}

body {
    font-family: 'Bitter', serif;
    text-align: center;
    background-image: url(assets/img/background.jpg);
    
}
#btn {
    text-align: center;
    background: #3b170b;
    color: #fffaef;
    font-family: 'Bitter', serif;
    border-radius: 5px;
    border: 0 whitesmoke;
    width: 100px;
    height: 40px;
    padding: 10 px;
    font-size: 15px;
}


#btn:hover {
    background-color: lightgray;
}


.icons {
  display: flex;
  flex-direction: row;
  text-align: row;
  gap: 20px;
  text-align: center;
  justify-content: center;
}


.logo{
    background-color: #fffaef;
    width: 100%;
    background: #3b170b;
}

#bienvenidx {
    text-align: center;
    background-color: #fffaef;
    width: 100%;
    max-height: 1800px;
    padding: 20px;
}

footer {
    background: #3b170b;
    color: #fffaef;
    text-align: center;
    padding: 1em;
    position:fixed;
    bottom:0;
    width:100%;
} 